* {
  box-sizing: border-box;
}

body {
  position:relative;
  box-sizing: border-box;
  background-color: #EEFBFF;
}

.main {
  background-color: #EEFBFF;
}

#slide {
  position: absolute;
  margin-left: auto;
  margin-right: auto; 
  width: 100%;
}

#logo-img {
  background: url('../images/logo.jpg') no-repeat;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 10px 15px 10px 0;
}

#header-nav {
  font-family: 'Tangerine', cursive;
  background-color: #FFF;
}

.navbar-brand {
  margin-top: 20px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#login {
  width: 100%;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #FFF;
  background-color: #1D2542;
  font-size: 2em;
}

#login:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#login:active {
  background-color:#1D2542;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#lvl1 {
  font-family: 'IM Fell French Canon', serif;
  margin: auto;
  background-color: #1B7DA5;
  color: white;
  height: 50%;
}

#lvl2 {
  width: 50%;
}

#modalLogin {
  text-align: center;
  color: #091C44;
  font-size: 30px;
}

.modal-c-tabs {
  background-color: #EEEEEE;
}

#modalBody {
  background-color: #FFF;
}

#modalBody2 {
  background-color: #FFF;
}

#modalLRInput10 {
  background-color:#EEEEEE;
  color: #091C44;
  font-size: 1.2em;
}

#modalLRInput11 {
  background-color:#EEEEEE;
  color: #091C44;
  font-size: 1.2em;
}

#modalLRInput12 {
  background-color:#EEEEEE;
  color: #091C44;
  font-size: 1.2em;
}

#modalLRInput13 {
  background-color:#EEEEEE;
  color: #091C44;
  font-size: 1.2em;
}

#modalLRInput14 {
  background-color:#EEEEEE;
  color: #091C44;
  font-size: 1.2em;
}

#logfoot {
  color: #091C44;
  font-size: 1.2em;
  background-color:#EEEEEE;
}

#but2 {
  width: 40%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #FFF;
  background-color: #1A97A9;
  font-size: 1.2em;
}

#heads {
  font-size: 2.3em;
  font-family: 'Tangerine', cursive;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index:-1;
}

.mySlides {
  position: absolute;
  opacity: 0;
  transition: opacity 2.5s;
}

img {
  vertical-align: middle;
  height: auto;
  width: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 658px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  height: 500px;
  margin: auto;
}

/* Caption text */
.text {
  color: #F2F2F2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #F2F2F2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.centre {
  text-align: center;
}

#hng {
  height: 70px;
  border : 5px solid white;
  font-size: 50px;
  border-radius: 50%;
  background-color: #EEEEEE;
  font-family: 'Tangerine', cursive;
}

#part2 {
  padding-top: 5%;
}

/*Genres*/

.genre {
  font-family: 'Tangerine', cursive;
  margin:auto;
  border: 5px solid white;
  text-align:center;
  padding: 10px 0;
  height: 70px;
  font-size: 30px;
  color: #263557;
}

#thriller {
  background-color: #EEEEEE;
}

#adventure {
  background-color: #EEEEEE;
}

#Romance {
  background-color: #EEEEEE;
}

#Tragedy {
  background-color: #EEEEEE;
}

#Comedy {
  background-color: #EEEEEE;
}

#Biographies {
  background-color: #EEEEEE;
}

#Science {
  background-color: #EEEEEE;
}

#Children {
  background-color: #EEEEEE;
}

#Poetry {
  background-color: #EEEEEE;
}

/*Authors*/

.authors {
  font-family: 'Tangerine', cursive;
  font-size: 30px;
  padding: 10px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: #EEEEEE;
}

#author {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#p2 {
  font-size: 1em;
  background-color: white;
  border-radius: 20px;
  color: blue;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

/*Part 3*/

.scrolling-wrapper{
	overflow-x: auto;
}

.bookBox{
  font-family: 'IM Fell French Canon', serif;
  margin: 20px;
  height: 350px;
	background-color: #EEFBFF;
	background-position: center;
  transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
}

#book {
  border: solid 2px #F9F500;
  border-radius: 10px;
}

.bookBox:hover {
  transform: translateY(-5px);
  box-shadow: none;
}

#p3 {
  font-size: 1em;
  background-color: #FFF;
  color: blue;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.SeeAll {
  font-family: 'IM Fell French Canon', serif;
  border: solid 2px #F9F500;
  background-color: #FFF;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  font-size: 1.3em;
  text-align: center;
}

/*/part 3*/

/*Footer*/



/*/footer*/


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}