<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
	<title>The Dusty Shelf</title>
</head>

<body>
	<!-- Header -->
	<header>
		<nav id="header-nav" class="navbar">
			<div class="container">
				<div class="row">
					<a href="dashboard" class="d-none d-lg-block">
						<div id="logo-img"></div>
					</a>
					<div class="navbar-brand">
						<a href="dashboard">
							<h1 id="heads">The Dusty Shelf</h1>
						</a>
					</div>
				</div>
				<div class="navbar">
					<% if(name) {%>
					<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog cascading-modal" role="document">
						  <!--Content-->
							<div class="modal-content lvl1">
								<!--Modal cascading tabs-->
								<div class="modal-c-tabs">
						
									<!-- Nav tabs -->

						
								<!-- Tab panels -->
									<div class="tab-content">
										<!--Panel 7-->
										<div class="tab-pane fade in show active" id="panel7" role="tabpanel">
							
										<!--Body-->
											<div id="modalBody" class="modal-body mb-1">
												<div class="text-center mt-2">
												<!-- <button id="/auth/logut" class="btn btn-info join">LogOut <i class="fas fa-sign-in ml-1"></i></button> -->
												<!-- Logout button -->
												<button id="profiel" type="button" onclick="document.location='/layouts/profile.ejs'" class="btn btn-outline-info waves-effect ml-auto but2, fas fa-sign-in ml-1">
													View Profile
												</button>	
											</br>
												<button id="logout" type="button" onclick="document.location='/auth/logout'" class="btn btn-outline-info waves-effect ml-auto but2, fas fa-sign-in ml-1">
													Logout
												</button>	
											</div>
											</div>
											<!--Footer-->
											<div class="modal-footer logfoot">
												<button type="button" class="btn btn-outline-info waves-effect ml-auto but2" data-dismiss="modal">Close</button>
											</div>
							
										</div>
										<!--/.Panel 7-->
							
										<!--Panel 8-->
										<div class="tab-pane fade" id="panel8" role="tabpanel">
										</div>
										<!--/.Panel 8-->
									</div>
								</div>
							</div>
						  <!--/.Content-->
						</div>
					</div>
					<button type="button" class="btn btn-primary join" data-toggle="modal" data-target="#modalLRForm">
						Hello, <%= name %>
					</button>
				<% } else { %>
					<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog cascading-modal" role="document">
						  <!--Content-->
							<div class="modal-content lvl1">
								<!--Modal cascading tabs-->
								<div class="modal-c-tabs">
						
									<!-- Nav tabs -->
									<ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
										<li class="nav-item lvl2">
											<a class="nav-link active modalLogin" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>Login</a>
										</li>
										<li class="nav-item lvl2">
											<a class="nav-link modalLogin" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>Register</a>
										</li>
									</ul>
						
								<!-- Tab panels -->
									<div class="tab-content">
										<!--Panel 7-->
										<div class="tab-pane fade in show active" id="panel7" role="tabpanel">
							
										<!--Body-->
											<div id="modalBody" class="modal-body mb-1">
												<div class="text-center mt-2">
												<button id="login" type="button" onclick="document.location='/auth/google'" class="btn btn-outline-info waves-effect ml-auto join fas fa-sign-in ml-1">
													Login with Google
												</button>	
												</div>
											</div>
											<!--Footer-->
											<div class="modal-footer logfoot">
												<div class="options text-center text-md-right mt-1">
												<p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
												<p>Forgot <a href="#" class="blue-text">Password?</a></p>
												</div>
												<button type="button" class="btn btn-outline-info waves-effect ml-auto but2" data-dismiss="modal">Close</button>
											</div>
							
										</div>
										<!--/.Panel 7-->
							
										<!--Panel 8-->
										<div class="tab-pane fade" id="panel8" role="tabpanel">
							
										<!--Body-->
											<div id="modalBody2" class="modal-body mb-1">
												<div class="text-center form-sm mt-2">
												<button id="login" type="button" onclick="document.location='/auth/google'" class="btn btn-outline-info waves-effect ml-auto join fas fa-sign-in ml-1">
													Singup with Google
												</button>	
												</div>
								
											</div>
											<!--Footer-->
											<div class="modal-footer logfoot">
												<div class="options text-right">
												<p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
												</div>
												<button type="button" class="btn btn-outline-info waves-effect ml-auto but2" data-dismiss="modal">Close</button>
											</div>
										</div>
										<!--/.Panel 8-->
									</div>
								</div>
							</div>
						  <!--/.Content-->
						</div>
					</div>
					<button type="button" class="btn btn-primary join" data-toggle="modal" data-target="#modalLRForm">
						Login/SignUp
					</button>
				<% } %>
				</div>
			</div>
		</nav> 
	</header>
	<!-- /Header -->
	<!--Slideshow-->
	<div class="slideshow-container sticky">
		<div class="mySlides">
			<div class="numbertext">1 / 4</div>
			<img src="images/Covers/MerchantofVanice.jpg">
			<div class="text"></div>
		</div>
		<div class="mySlides">
			<div class="numbertext">2 / 4</div>
			<img src="images/Covers/ChristmasCarol.jpg">
			<div class="text"></div>
		</div>
		<div class="mySlides">
			<div class="numbertext">3 / 4</div>
			<img src="images/Covers/WutheringHeights.jpg">
			<div class="text"></div>
		</div>
		<div class="mySlides">
			<div class="numbertext">4 / 4</div>
			<img src="images/Covers/DorianGray.jpg">
			<div class="text"></div>
		</div>
	</div>
	<br>
	<div style="text-align:center">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	</div>
	<!--/Slideshow-->
	<!--Body-->
	<div class="main">
		<div class="container-fluid">
			<div class="centre hng">Popular Geners</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 genre part3">
					<a href="/genre?type=thriller">Thriller</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 genre part3">
					<a href="/genre?type=adventure">Adventure</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 genre part3">
					<a href="/genre?type=romance">Romance</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 genre part3">
					<a href="/genre?type=tragedy">Tragedy</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 genre part3">
					<a href="/genre?type=comedy">Comedy</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 genre part3">
					<a href="/genre?type=biography">Biographies/Memoirs</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 genre part3">
					<a href="/genre?type=science-fiction">Science-Fiction</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 genre part3">
					<a href="/genre?type=children">Children-Books</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 genre part3">
					<a href="/genre?type=poetry">Poetry</a>
				</div>
			</div>
		</div>
		<div class="container-fluid part2">
			<div class="centre hng">Immortal Pens</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 authors part3">
					<img class="author" alt="William Shakespeare" src="images/Authors/Shakespeare.png">
					<figcaption class="p2">William Shakespeare</figcaption>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 authors part3">
					<img class="author" alt="John Milton" src="images/Authors/Milton.jpg">
					<figcaption class="p2">John Milton</figcaption>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 authors part3">
					<img class="author" alt="Jane Austen" src="images/Authors/Austen.jpg">
					<figcaption class="p2">Jane Austen</figcaption>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 authors part3">
					<img class="author" alt="Sir Aurthor Conan Doyle" src="images/Authors/Doyle.jpg">
					<figcaption class="p2">Sir Aurthor Conan Doyle</figcaption>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 authors part3">
					<img class="author" alt="Charles Dickens" src="images/Authors/Dickens.jpg">
					<figcaption class="p2">Charles Dickens</figcaption>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 authors part3">
					<img class="author" alt="R. L. Stevenson" src="images/Authors/Stevenson.jpg">
					<figcaption class="p2">R. L. Stevenson</figcaption>
				</div>
			</div>
		</div>
		<div class="container-fluid part2">
			<div class="centre hng">Popular Reads</div>
			<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
				<div onclick="location.href='/epubjs/examples/continuous-scrolled.html';" class="col-2 bookBox">
					<img class="book" alt="Mobi Dick" src="images/Books/MobiDick.jpg">
					<figcaption class="p3">Mobi Dick</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="Romeo & Juliet" src="images/Books/Romeo&Juliet.jpg">
					<figcaption class="p3">Romeo & Juiet</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="Oliver Twist" src="images/Books/OliverTwist.jpg">
					<figcaption class="p3">Oliver Twist</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="The Great Gatsby" src="images/Books/GreatGatsby.jpg">
					<figcaption class="p3">The Great Gatsby</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="The Hounds of Baskerville" src="images/Books/HoundOfBaskerville.jpg">
					<figcaption class="p3">The Hounds of Baskerville</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="jane Eyre" src="images/Books/JaneEyre.jpg">
					<figcaption class="p3">Jane Eyre</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="The Adventures of Tome Sawyer" src="images/Books/TomSawyer.jpg">
					<figcaption class="p3">The Adventures of Tome Sawyer</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="Illiad" src="images/Books/Illiad.jpg">
					<figcaption class="p3">Illiad</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="Hamlet" src="images/Books/Hamlet.jpg">
					<figcaption class="p3">Hamlet</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="Frankenstein" src="images/Books/Frankenstein.jpg">
					<figcaption class="p3">Frankenstein</figcaption>
				</div>
				<div class="col-2 bookBox">
					<img class="book" alt="The Three Muskteers" src="images/Books/Muskteers.jpg">
					<figcaption class="p3">The Three Muskteers</figcaption>
				</div>
				<div class="col-2 SeeAll">
					<div>See All</div>
				</div>
    		</div>
		</div>
	</div>
	<!--/Body-->
	<!-- Footer-->
	<footer class="main">
		<h3>Contact Us</h3>
		<p>Prasanna Kumar : **********</p>
		<p>Amit Kumar : **********</p>
		<p>Jatin Khandual : ***********</p>
	</footer>
	<!--/Footer-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="js/script.js"></script>
</body>
</html>